  .containerDestacados {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;

  }

  .containerDestacados h1 {
    justify-items: center;
  }

  .containerDestacados h2 {
    justify-content: center;
  }

  .containerDestacados .articulos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }