 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

 footer{
    background-color: #C79D1E;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    margin-top: auto;
}

footer li{
    list-style: none;
    margin: 10px;
    display: inline-block;
}

.icons a{
    background: black;
    color: #272727;
    padding: 14px;
    font-size: 20px;
    border-radius: 100%;
    display: flex;
}
.icons a:hover{
    color: #ffffff;
    transition: 0.5s;
}

.menu a{
    color: #ffffff;
    text-transform: capitalize;
}
.menu a:hover{
    color: #52527a;
    transition: 0.5s;
}

.footer-copyright{
    background-color:black;
    color: #ffffff;
    padding: 15px;
    margin-top: 30px;
    text-transform: capitalize;
}

.footer-copyright p{
    margin-bottom: 0px;
}

.icons{
    display: flex;
    justify-content: center;
    column-gap: 2vw;
}

.icons .redes{
    height:30px;
    width:30px;
}

.icons a{
    text-decoration: none;
}