label .menu {
  position: absolute;
  left: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: white;
  border-radius: 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #f2c025, 0 0 0 0 #f2c025;
  cursor: pointer;
}

label .hamburger {
  position: absolute;
  top: 140px;
  left: 150px;
  width: 30px;
  height: 3px;
  background: #f2c025;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height:100%;
  background: #f2c025
}

label .hamburger:before {
  top: -10px;
}

label .hamburger:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked+.menu {
  /* box-shadow: 0 0 0 100vw  white, 0 0 0 100vh white; */
  box-shadow: 0 0 0 100vw white, 0 0 0 80vw white;;
  border-radius: 0;

}

label input:checked+.menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);


}

label input:checked+.menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;

}

label input:checked+.menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;

}

label input:checked+.menu+ul {
  display: block;
  animation: fadeIn 1.5s;
  height: 400px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
}

li {
  list-style-type: none;
}

.btn {
  margin-top: calc(10% + 5px);
  position: relative;
  display: inline-block;
  width: 277px;
  height: 50px;
  font-size: 1em;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 17px;
  letter-spacing: 0.045em;


}

a {
  all: unset;
}

.btn svg {
  position: absolute;
  top: 0;
  left: 0;

}

.btn svg rect {
  stroke: #f2c025;
  stroke-width: 4;
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
  -webkit-transition: all 600ms ease;
  transition: all 600ms radiusease;


}

.btn span {
  color: #f2c025;
  /* background: rgb(255, 130, 130);
  background: -moz-linear-gradient(left, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  background: -webkit-linear-gradient(left, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rrgb(255, 255, 255)100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#e178ed', GradientType=1);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.btn:hover svg rect {
  stroke-width: 4;
  stroke-dasharray: 196, 543;
  stroke-dashoffset: 437;
}

.subMenu {
  display: none;
  flex-direction: row;
  padding: 20px;
  margin: auto;
  color: #f2c025;
  align-items: center;
  justify-content: center;
  /* gap: 1q0px; */
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0.045em;
}

.subMenu li {
  border-radius: 20px 20px 20px;
  margin: auto;
  width: 60%;
  padding: 10px;
  transition: 0.2s;
  color: #f2c025;
  text-align: center;


}

.subMenu li:hover {

  margin: auto;
  width: 60%;
  padding: 10px;
  background-color: #f2c025;
  color: #ffa74c;


}

.dropDownDept:hover .subMenu {
  display: block;
  animation: fadeIn 0.5s;
  animation: growDown 600ms ease-in-out forwards;
  transform-origin: top center;

}

@keyframes growDown {
  0% {
    transform: scaleY(0)
  }

  80% {
    transform: scaleY(1.1)
  }

  100% {
    transform: scaleY(1)
  }
}